body {
	background-color: white;
	margin: 0px;
	height: 100%;
}

header {
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("img/communities-background.jpg");
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

 @media (min-width: 320px) and (max-width: 720px) {
 	.img1  {
		width: 128px;
		height: 40px;
	}	

	.img2 {
		width: 200px;
		height: 40px;
	}

	.img3 {
		width: 200px;
		height: 60px;
	}

	.img4 {
		width: 115px;
		height: 40px;
	}
}

.brand {
	color: white;
	font-size: 25px;
}

.brand span {
	background-color: rgb(255, 204, 0);
	color: black;
	padding: 3px;
}

.main-nav {
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	list-style: none;
	text-align: center;
	display: inline-block;
	width: 100%;	
	font-size: 20px;
	z-index: 1;
}

.main-nav a {
	text-decoration: none;
	line-height: 50px;
	display: inline-block;
	border: 1px #fff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: white;
	padding-right: 8px;
	padding-left: 8px;
	float: left;
}

.main-nav li a:hover {
	color: rgb(255, 204, 0);
	background-color: rgba(42,42,42,0.7);
}

#btn {
	padding: 9px 13px;
}

.community h3 {
	color: white;
	position: absolute;
	top: 125px;
	left: 10%;
	font-family: Arial;
	font-size: 50px;
	text-align: center;
	padding: 4px;
}

.community h3 span {
	color: black;
	background-color: rgb(255, 204, 0);
	padding: 4px;
}

.img1  {
	width: 256px;
	height: 85px;
}

.img2 {
	width: 400px;
	height: 85;
}

.img3 {
	width: 400px;
	height: 120px;
}

.img4 {
	width: 230px;
	height: 85px;
}

.container {
	position: absolute;
	top: 30%;
	left: 10%;
}

.container img {
	margin: 50px;
}

.container img:hover {
	background-color: rgba(0,0,0,0.1);
	border-radius: 10px;
}

footer {
  width: 100%;
  height: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgb(255,204,0);
}

footer img {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 5px;
	width: 40px;
	height: 40px;
}

div.social {
	position: absolute;
	left: 5%;
	margin-top: 20px;
}

div.social li a{
	color: black;
	border-style: solid;
	border-width: 1px;
	border-color: black
}

div.social li a:hover{
	color: black;
}

}
div.social p {
	font-family: Arial;
	font-size: 18px;
}

div.map {
	position: absolute;
	right: 30%;
	margin-top: 20px;
}

div.map p {
	width: 200px;
	font-family: Arial;
	font-size: 18px;
}

a.social {
	margin-right: 15px;
}

div.contact {
	position: absolute;
	right: 5%;
	margin-top: 20px;
}

footer h3 {
	margin-top: 10px;
	color: black;
	font-size: 30px;
}

#foot {
	width: 100%;
	height: 100%;
	margin-left: 30px;
}

#pages {
	margin-top: 20px;
}

input.text {
	height: 30px;
	width: 200px;
	border-radius: 3px;
	border: none;
}

textarea.message {
	height: 65px;
	width: 200px;
	border-radius: 3px;
	border: none;
}

input.submit {
	width: auto;
	height: auto;
	background-color: white;
	font-size: 20px;
	font-family: Arial;
	color: black;
	border: none;
	border-radius: 3px;
	padding: 5px;
}

input.submit:hover {
	text-decoration: underline;	
}